@media screen and (min-width: 992px) {
  .mt-lg-90 {
    margin-top: 90px !important;
  }
}
@media screen and (max-width: 992px) {
  .contact-title {
    font-size: 24px !important;
  }
  .contact-sub {
    font-size: 18px !important;
  }
  /* .contact-head {
    height: 150px !important;
  } */
  .mt-lg-60 {
    margin-top: 35px !important;
  }
  .mt-150 {
    margin-top: 70px !important;
  }
  .mb-100 {
    margin-bottom: 50px !important;
  }
}
header {
  border-bottom: 1px solid rgba(241, 90, 34, 0.26);
  background: #fff;
}
.about-us-img {
  height: 710px;
  flex-shrink: 0;
  aspect-ratio: 308/355;
}
.img-overlap {
  position: relative;
  z-index: 1;
}
.img-overlap img {
  width: 100%;
  height: auto;
  display: block;
}
footer {
  position: relative;
  z-index: 2;
}
.img-under-footer {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.about-us {
  border: 1px solid #000;
}
.form-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.contact-form {
  border-radius: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  outline: none;
}
.send-btn {
  color: #581800;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ff6228;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.send-btn:hover {
  /* background-color: #d65a0e; */
  background-color: #8b2703;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.contact-details {
  color: #571e09;
}
.contact-img {
  width: 81.074px;
  height: 72.643px;
}
